<header>
    <center>
        <h2>Experiência Profissional</h2>
    </center>
</header>
<main>
    <ol>
        <li><b>janeiro/2025 – presente</b></li>
        <dd>Analista júnior: analista de suporte bilíngue para produtos Microsoft em nível 3,
            especializado em performance.</dd><br>
        <li><b>maio/2018 – maio/2022</b></li>
        <dd>Revisor de texto e tradutor português>inglês do Colégio Damas: revisão de materiais didáticos e de
            comunicação expedidos pelo colégio, além de tradução para inglês de notícias veiculadas no site oficial;
        </dd><br>
        <li><b>novembro/2012 – presente</b></li>
        <dd>Tradutor de legendas freelancer para Sfera Studios/Deluxe de filmes, documentários e séries televisivas;
        </dd><br>
        <li><b>janeiro/2013 – presente</b></li>
        <dd>Tradutor de legendas freelancer para Haymillian Subtitling de filmes, documentários e séries
            televisivas;</dd><br>
        <li><b>abril/2013 – presente</b></li>
        <dd>Tradutor de legendas freelancer para CMG de filmes, documentários e séries televisivas;</dd><br>
        <li><b>março/2012 – janeiro/2013</b></li>
        <dd>Professor de língua inglesa no NLC (Núcleo de Línguas e Cultura), projeto vinculado à UFPE;</dd><br>
        <li><b>março/2012 – julho/2012</b></li>
        <dd>Revisor de textos da Editora Massangana (estagiário): revisão de diversos livros publicados pela editora
            da Fundação Joaquim Nabuco;</dd><br>
        <li><b>agosto/2012 – janeiro/2013</b></li>
        <dd>Revisor de textos da Editora UFPE (estagiário): revisão de diversos livros publicados pela editora da
            Universidade Federal de Pernambuco.</dd>
    </ol>
</main>