<header>
    <center>
        <h2>Formação</h2>
    </center>
</header>
<main>
    <dl>
        <dt><b>agosto de 2024 – dezembro de 2026 (previsão)</b></dt>
        <dd>Tecnólogo em Análise e Desenvolvimento de Sistemas (Faculdade Senac Pernambuco);</dd><br>
        <dt><b>fevereiro de 2016 – fevereiro de 2018</b></dt>
        <dd>Mestrado em Linguística na linha de pesquisa de Estudos textuais-discursivos de práticas sociais
            (PPGL-UFPE);</dd><br>
        <dt><b>janeiro de 2010 – julho de 2014</b></dt>
        <dd>Bacharelado em Letras com ênfase em Linguística (UFPE).</dd><br>
    </dl>

</main>