<header>
    <center>
        <h2>Línguas</h2>
    </center>
</header>
<main>
    <table class="linguas" width="80%" height="50px" align="center" border="0" cellpadding="5" cellspacing="5">
        <tr>
            <td><center><img src="../imgs/brasil.png" width="25%"><br><strong>Português</strong><br>Nativo</center></td>
            <td><center><img src="../imgs/reino-unido.png" width="25%"><br><strong>Inglês</strong><br>Fluente (nível C2)</center></td>
            <td><center><img src="../imgs/franca.png" width="25%"><br><strong>Francês</strong><br>Avançado</center></td>  
            <td><center><img src="../imgs/espanha.png" width="25%"><br><strong>Espanhol</strong><br>Intermediário</center></td>
        </tr>
    </table>
</main>