<header>
    <center>
        <h2>Perfil</h2>
    </center>
</header>
<main>
    <p>Bacharel em Letras pela UFPE e mestre em Linguística (PPGL-UFPE), tenho vasta experiência com tradução e revisão
        de texto e desenvolvi habilidades valiosas nessa área, como atenção aos detalhes, comunicação eficaz e trabalho
        em equipe. Desde 2022, decidi me aventurar numa área que sempre me despertou curiosidade: Tecnologia da Informação.
        Tendo como foco inicial a linguagem Python e Análise de Dados, busco constantemente o aprendizado e o
        aprimoramento em novas tecnologias com o intuito de expandir meu conhecimento e minhas habilidades. Em 2025,
        iniciei no cargo de analista de suporte bilíngue para a Microsoft na empresa Avanade.</p>
</main>